<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swyp.saratang.mapper.IconMapper">

    <!-- ✅ 모든 아이콘 조회 -->
    <select id="getAllIcons" resultType="com.swyp.saratang.model.IconDTO">
        SELECT id, name, filename FROM icons
    </select>

</mapper>