<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swyp.saratang.mapper.UserMapper">
	

  	<select id="findBySocialId" parameterType="map" resultType="com.swyp.saratang.model.UserDTO">
        SELECT * FROM users 
        WHERE social_id = #{socialId} 
        AND auth_provider = #{authProvider}
    </select>
	
	<select id="findByEmail" parameterType="string" resultType="com.swyp.saratang.model.UserDTO">
    SELECT * FROM users WHERE email = #{email}
    and is_active=true
	</select>
	
	<select id="findById" parameterType="int" resultType="com.swyp.saratang.model.UserDTO">
	    SELECT * FROM users WHERE id = #{id}
	</select>


    <!-- 정식 회원 등록 -->
	<insert id="insertUser">
   		 INSERT INTO users (social_id, auth_provider, email, nickname, email_verified, username, is_active,regdate)
    		VALUES (#{socialId}, #{authProvider}, #{email}, #{nickname}, #{emailVerified}, #{username}, true, NOW())
	</insert>
	
	<update id="newUserProfile">
        UPDATE users
        SET username = #{username},
            weight = #{weight}, 
            height = #{height}, 
            top_size = #{topSize}, 
            bottom_size = #{bottomSize}, 
            foot_size = #{footSize}, 
            is_active = true,
            role= 'regular',
            bio = #{bio},
            birth_date = #{birthDate},
            gender=#{gender},
            is_active = true,
            profile_yn = true
        WHERE social_id = #{socialId} AND auth_provider = #{authProvider}
    </update>
	
	<update id="editUserProfile">
        UPDATE users
        SET weight = #{weight}, 
            height = #{height}, 
            top_size = #{topSize}, 
            bottom_size = #{bottomSize}, 
            foot_size = #{footSize}
        WHERE social_id = #{socialId} AND auth_provider = #{authProvider}
    </update>
	
	
	<update id="deleteUser">
    UPDATE users
    SET social_id = NULL,
        email = CONCAT('deleted-', UNIX_TIMESTAMP(), '-', email),  
            is_active = 0
        WHERE social_id = #{socialId} AND auth_provider = #{authProvider}
        OR email = #{email}
    </update>
    
    
    
    
    
       <!-- 특정 사용자 크레딧 내역 조회 -->
    <select id="getCreditHistoryByUserId" resultType="com.swyp.saratang.model.PointDTO">
        SELECT * FROM credits WHERE user_id = #{userId} ORDER BY regdate DESC;
    </select>

    <!-- 특정 사용자의 총 크레딧 합계 조회 -->
    <select id="getTotalCreditsByUserId" resultType="Integer">
        SELECT COALESCE(SUM(credits), 0) FROM credits WHERE user_id = #{userId};
    </select>
    
     <!-- 닉네임 색상 변경 -->
    <update id="changeUserColor">
        UPDATE users SET color = #{newNicknameColor} WHERE id = #{userId};
    </update>

    <!-- 크레딧 내역 추가 -->
    <insert id="insertCreditHistory">
        INSERT INTO credits (user_id, type, credits, description)
        VALUES (#{userId}, #{type}, #{credits}, #{description});
    </insert>
    
</mapper>